In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
df = pd.read_stata('/Users/henrybaker/Documents/repositories/ML_final_project/sharew8_rel8-0-0_ALL_datasets_stata/sharew8_rel8-0-0_ac.dta')

In [5]:
df.describe()

,mergeid,hhid8,mergeidp8,coupleid8,country,language,ac012_,ac014_,ac015_,ac016_,...,ac703_,ac704_,ac705_,ac706_,ac707_,ac708_,ac709_,ac710_,ac711_,ac740_
count,46733,46733,46733,46733,46733,46733,46604.0,46604,46604,46604,...,10040,10040,10040,10040,10040,10040,10040,10040,10040,46602
unique,46733,32444,32193,17972,27,40,13.0,6,6,6,...,7,7,7,7,7,7,7,7,7,4
top,AT-001215-01,IT-961388-A,,,Estonia,Greek,8.0,Sometimes,Rarely,Never,...,Disagree strongly,Agree a little,Agree a little,Agree a little,Disagree strongly,Agree strongly,Disagree a little,Agree a little,Agree a little,Respondent
freq,1,3,14541,14541,3028,3008,14898.0,16581,13989,22404,...,4473,3583,2307,3786,3060,4510,2472,3317,4316,45443

In [6]:
df.columns

Index(['mergeid', 'hhid8', 'mergeidp8', 'coupleid8', 'country', 'language',
       'ac012_', 'ac014_', 'ac015_', 'ac016_', 'ac017_', 'ac018_', 'ac019_',
       'ac020_', 'ac021_', 'ac022_', 'ac023_', 'ac024_', 'ac025_', 'ac035d1',
       'ac035d4', 'ac035d5', 'ac035d7', 'ac035d8', 'ac035d9', 'ac035d10',
       'ac035dno', 'ac036_1', 'ac036_4', 'ac036_5', 'ac036_7', 'ac036_8',
       'ac036_9', 'ac036_10', 'ac037_', 'ac038_', 'ac701_', 'ac702_', 'ac703_',
       'ac704_', 'ac705_', 'ac706_', 'ac707_', 'ac708_', 'ac709_', 'ac710_',
       'ac711_', 'ac740_'],
      dtype='object')

In [7]:
df.isna().sum()

mergeid          0
hhid8            0
mergeidp8        0
coupleid8        0
country          0
language         0
ac012_         129
ac014_         129
ac015_         129
ac016_         129
ac017_         129
ac018_         129
ac019_         129
ac020_         129
ac021_        1408
ac022_         130
ac023_         130
ac024_         130
ac025_         130
ac035d1        641
ac035d4        641
ac035d5        641
ac035d7        641
ac035d8        641
ac035d9        641
ac035d10       641
ac035dno       641
ac036_1      39417
ac036_4      42101
ac036_5      34599
ac036_7      43992
ac036_8      13868
ac036_9      27055
ac036_10     34065
ac037_        9469
ac038_       38296
ac701_       36693
ac702_       36693
ac703_       36693
ac704_       36693
ac705_       36693
ac706_       36693
ac707_       36693
ac708_       36693
ac709_       36693
ac710_       36693
ac711_       36693
ac740_         131
dtype: int64

In [9]:
shape_of_dataframe = df.shape

print(f"No. of samples: {shape_of_dataframe[0]}")
print(f"No. of columns: {shape_of_dataframe[1]}")

No. of samples: 46733
No. of columns: 48